.git
.github
.env
.env.*
server/.env
node_modules
package.json
package-lock.json
server/*.js
dist
.parcel-cache
coverage
.cache
server/data
server/uploads
*.psd
*.log
portfolio
*.sqlite
*.sqlite-wal
*.sqlite-shm
.DS_Store
Thumbs.db
